html{
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.weather{
  font-family: 'Lato';
  font-size: 20px;
  position: fixed;
  top:0px;
  right:20px;
  color:white;
}

.bg{
  z-index: -10;
}

#root{
  position: fixed;
  height:100vh;
  width:100%;
  top: 0;
  left: 0;
  font-family: inherit;
}

.clock{
  position: fixed;
  display:inline;
  color:white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-size:200px;
  font-family: 'Lato';
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clockPeriod{
  font-size: 100px;
  margin:0;
  padding:0;
  display:inline;
}

.searchDiv #searching{
    position: fixed;
    background: none;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    border: none;
    color: white;
    height: 100px;
    font-size: 60px;
    width: 590px;
    text-align: left;
    padding: 5px;
    padding-left:20px;
    font-family: 'Lato';
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    top:52%;
    text-align:center;
    z-index: 100;
}

.searchDiv #searchSubmit{
    display:none;
}

.recentGame{
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:102px;
  color:white;
  width: 200px;
  left:95px;
  padding-bottom: 5px;
}

.recentGame .avatar{
  background-color: white;
  margin-left: 40px;
}

.recentGame .spell1{
  background-color: white;
  margin-left: 65px;
}

.recentGame .spell2{
  background-color: white;
  margin-left: 10px;
}

.recentGame .rd3-chart{
  position: fixed;
  left:0px;
  top:-40px;
}

.recentGame .statsName {
  text-align: center;
  font-size: 40px;
}

.recentGame .statsCreate {
  text-align: center;
}

.compareStats{
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:305px;
  color:white;
  background-color: black;
  width: 350px;
  left:10px;
}

ul {
  list-style-type: none;
}

.progression {
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:50px;
  background-color: #F8F1E5;
  opacity: 0.95;
  width: 500px;
  left:50%;
  transform: translate(-50%, -50%);
  top: 20%;
  border-radius: 5px;
}


.line-chart{
  color: white;
}


.summonerSummary {
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:100px;
  color:white;
  background-color: black;
  width: 300px;
  right:100px;
}

.settingsIcon {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
  transition: 1s;
}

.settingsIcon:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  transition: 1s;
}

.settingsMenu {
  position: fixed;
  left: 10px;
  bottom:40px;
  color:white;
  background-color: black;
  z-index: 100;
  text-align: right;
}

.settingsMenu ul{
  list-style-type: none;
}

.settingsButton {
  width: 50px;
  height: 20px;
  margin: 5px;
}

.settingsButtonOn {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: green;
  border: green;
  outline: none;
  border-radius: 2px;
}

.settingsButtonOn:hover{
  cursor: pointer;
}

.settingsButtonOff {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: red;
  border: red;
  outline: none;
  border-radius: 2px;
}

.settingsButtonOff:hover{
  cursor: pointer;
}

.quotes {
  position: fixed;
  color:white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  bottom: 40px;
  font-size:25px;
  font-family: 'Lato';
  left:50%;
  transform: translate(-50%, -50%);
}

.lockBackgroundOn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: white;
  border: 1px solid black;
  background-color: gray;
  transition: 1s;
}

.lockBackgroundOff {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: white;
  border: 1px solid black;
  background-color: lightblue;
  transition: 1s;
}

.lockBackgroundOff:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  transition: 1s;
}

.lockBackgroundOn:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  transition: 1s;
}

.refreshBackground {
  position: fixed;
  bottom: 20px;
  right: 40px;
  color: white;
  border: 1px solid black;
  background-color: blue;
  transition: 1s;
}

.refreshBackground:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  transition: 1s;
}
.searchDiv #searchSubmit:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 1s;
}

.searchDiv input:focus{
  outline: none;
}

.summaryButtons {
  display: flex;
}

.summaryButtonOff {
  border: 1px solid white;
  transition: 1s;
}

.summaryButtonOn {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: green;
  transition: 1s;
}

.summaryButtonOn:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  transition: 1s;
}

.summaryButtonOff:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  transition: 1s;
}

.hideAllButton {
  position: fixed;
  bottom: 60px;
  left: 20px;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
  transition: 1s;
}

.hideAllButton:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  transition: 1s;
}

.infoButton {
  position: fixed;
  top: 220px;
  left: 280px;
}

.infoButton:hover {
  cursor: pointer;
}

.spell {
  margin: 5px;
}

.recentGameInfo {
  background-color: black;
  color: white;
  display: flex;
  width: 350px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 140px;
  left: 320px;
  padding: 10px 30px;
}
