html{
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.weather{
  font-family: 'Lato';
  font-size: 20px;
  position: fixed;
  top:0px;
  right:20px;
  color:white;
}

.bg{
  z-index: -10;
}

#root{
  position: fixed;
  height:100vh;
  width:100%;
  top: 0;
  left: 0;
  font-family: inherit;
}

.clock{
  position: fixed;
  display:inline;
  color:white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-size:200px;
  font-family: 'Lato';
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clockPeriod{
  font-size: 100px;
  margin:0;
  padding:0;
  display:inline;
}

.searchDiv #searching{
    position: fixed;
    background: none;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    border: none;
    color: white;
    height: 100px;
    font-size: 90px;
    width: 590px;
    text-align: left;
    padding: 5px;
    padding-left:20px;
    font-family: 'Lato';
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    top:52%;
    text-align:center;
    z-index: 100;
}

.searchDiv #searchSubmit{
    display:none;
}

.recentGame{
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:10px;
  color:white;
  background-color: black;
  width: 200px;
  left:10px;
  padding-bottom: 5px;
}

.recentGame h1{
  font-family: 'Lato';
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.recentGame .avatar{
  background-color: white;
  margin-left: 40px;
}

.recentGame .spell1{
  background-color: white;
  margin-left: 65px;
}

.recentGame .spell2{
  background-color: white;
  margin-left: 10px;
}

.recentGame .rd3-chart{
  position: fixed;
  left:200px;
  top:-40px;
}

.recentGame .statsName {
  text-align: center;
  font-size: 40px;
}

.recentGame .statsCreate {
  text-align: center;
}

.compareStats{
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:305px;
  color:white;
  background-color: black;
  width: 350px;
  left:10px;
}

ul {
  list-style-type: none;
}

.progression {
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:100px;
  color:white;
  background-color: black;
  width: 400px;
  right:100px;
}

.summonerSummary {
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:100px;
  color:white;
  background-color: black;
  width: 300px;
  right:100px;
}

.settingsMenu {
  position: fixed;
  left: 10px;
  bottom:20px;
  color:white;
  background-color: black;
  z-index: 100;
}

.settingsMenu ul{
  list-style-type: none;
}

.settingsButton {
  width: 50px;
  height: 20px;
  margin: 5px;
}

.settingsButtonOn {
  width: 50px;
  height: 20px;
  margin: 5px;
  background-color: green;
}

.settingsButtonOff {
  width: 50px;
  height: 20px;
  margin: 5px;
  background-color: red;
}

.quotes {
  position: fixed;
  color:white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  bottom: 40px;
  font-size:25px;
  font-family: 'Lato';
  left:50%;
  transform: translate(-50%, -50%);
}

.lockBackgroundOn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: white;
  border: 1px solid black;
  background-color: gray;
  transition: 1s;
}

.lockBackgroundOff {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: white;
  border: 1px solid black;
  background-color: lightblue;
  transition: 1s;
}

.lockBackgroundOff:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  transition: 1s;
}

.lockBackgroundOn:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  transition: 1s;
}

.refreshBackground {
  position: fixed;
  bottom: 20px;
  right: 40px;
  color: white;
  border: 1px solid black;
  background-color: blue;
  transition: 1s;
}

.refreshBackground:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  transition: 1s;
}
.searchDiv #searchSubmit:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 1s;
}

.searchDiv input:focus{
  outline: none;
}
