/*html { 
  background: url(
  http://res.cloudinary.com/dzyfczxnr/image/upload/v1459895598/Impulse/league.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
