.infoButton {
  position: fixed;
  top: 260px;
  left: 180px;
  z-index:1;

}

.infoButton:hover {
  cursor: pointer;
}

.icon {
  margin: 5px;
  width: 24px;
}

.recentGameInfo {
  background-color: #2F3131;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 350px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 300px;
  left: 20px;
  padding: 10px 30px;
  transition: 0.5s;
  box-shadow: 3px 3px 2px black;
  border: 1px solid white;
}

.recentGameInfo h2{
  color: #EAA732;
}

.progression {
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  background-color: #2F3131;
  width: 500px;
  left:50%;
  transform: translate(-50%, -50%);
  top: 26%;
  border-radius: 5px;
  padding-right:20px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 1px black;

}

.progression svg{
  font-family: 'Lato';
  background-color: #2F3131;
  color: white;
  margin-bottom: 2px;
  padding: 10px;
  border-radius: 5px 5px 0 0;

}

.tooltip {
  color: white;
  background-color: black;
  padding:3px;
  font-size:16px;
}

.progression .showKDAoptions{
  display: "";
}

.progression .hideKDAoptions{
  display:none;
}

.progression .showGoldOptions{
  display: "";
}

.progression .hideGoldOptions{
  display:none;
}

.progression .showCSOptions{
  display: "";
}

.progression .hideCSOptions{
  display:none;
}

.progression .showDmgOptions{
  display: "";
}

.progression .hideDmgOptions{
  display:none;
}



#DmgOptions{
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

#DmgOptions span{
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom:5px;
  padding-top:5px;
}

#CSOptions{
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

#CSOptions span{
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom:5px;
  padding-top:5px;
}

#goldOptions{
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

#goldOptions span{
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom:5px;
  padding-top:5px;
}

#KDAoptions{
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

#KDAoptions span{
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom:5px;
  padding-top:5px;
}

#DmgOptions span:hover{
  border-bottom: solid #20232A 3px;
}

#CSOptions span:hover{
  border-bottom: solid #20232A 3px;
}

#goldOptions span:hover{
  border-bottom: solid #20232A 3px;
}

#KDAoptions span:hover{
  border-bottom: solid #20232A 3px;
}

.onToggleKill {
  border-bottom: solid #EAA732 3px;
  color: #EAA732;
}

.onToggleDeath {
  border-bottom: solid #EAA732 3px;
  color: #A01D26;
}

.onToggleAssist {
  border-bottom: solid #EAA732 3px;
  color: #ACBEBE;
}

.onToggleGoldTotal{
  border-bottom: solid #EAA732 3px;
  color: #EAA732;
}

.onToggleGoldAvg{
  border-bottom: solid #EAA732 3px;
  color: #EAA732;
}

.onToggleCSTotal{
  border-bottom: solid #EAA732 3px;
  color: #EAA732;
}

.onToggleCSAvg{
  border-bottom: solid #20232A 3px;
  color: #EAA732;
}

.onToggleDmgTotal{
  border-bottom: solid #EAA732 3px;
  color: #EAA732;
}

.onToggleDmgAvg{
  border-bottom: solid #20232A 3px;
  color: #EAA732;
}

.toggleKDAoptions {
  border-bottom: solid #EAA732 3px;
}

.toggleGold {
  border-bottom: solid #EAA732 3px;
}

.toggleCS {
  border-bottom: solid #EAA732 3px;
}

.toggleDmg {
  border-bottom: solid #EAA732 3px;
}

.toggleTime {
  border-bottom: solid #EAA732 3px;
}




#progressionOptions{
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
  color: black;
  padding-bottom: 5px;
}

#progressionOptions span{
  margin-left: 10px;
  padding: 5px;
  border-radius: 3px;
}

#progressionOptions span:hover{
  border-bottom: solid #20232A 3px;
}




.line-chart{
  color: white;
}

.recentGame{
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:102px;
  color:white;
  width: 200px;
  left:95px;
  padding-bottom: 5px;
  z-index:1;
  border-radius: 5px;
}

.recentGame .avatar{
  background-color: black;
  margin-left: 40px;
}

.recentGame .spell1{
  background-color: white;
  margin-left: 65px;
}

.recentGame .spell2{
  background-color: white;
  margin-left: 10px;
}

.recentGame .rd3-chart{
  position: fixed;
  left:0px;
  top:-40px;
}

.recentGame .statsName {
  text-align: center;
  font-size: 40px;
}

.statsCreate {
  text-align: center;
}

.compareStats{
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top: 40px;
  color: white;
  background-color: #2F3131;
  width: 220px;
  left: 10px;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 3px 3px 2px black;
  border: 1px solid white;

}

.compareStats h4{
  color: #EAA732;
}

.itemsList {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gameStatsSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statModule {
  display: flex;
  align-items: center;
}

.blueTeam {
  background-color: #257985;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
  width: 280px;
  border-bottom: solid 3px black;
  transition: 0.5s;
}

.blueTeam:hover{
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s;
}

.redTeam {
  background-color: #FF4447;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
  width: 280px;
  border-bottom: solid 3px black;
  transition: 0.5s;
}

.redTeam:hover{
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s;
}

.currentGameSpells {
  display: flex;
  display: flex;
  flex-direction: column;
}

.currentGameHeader {
  color: #EAA732;
  font-size: 20px;
}

.currentGameInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.currentGameButton {
  position: fixed;
  transition: 1s;
  width: 24px;
  top: 35px;
  right: 300px;
}

.currentGameButton:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: 1s;
}

.currentGameImg {
  width: 80px;
}

.currentGameWrapper {
  display: flex;
  align-items:center;
}

.currentGameWrapper h1{
  color: #EAA732;
}
