.infoButton {
  position: fixed;
  top: 260px;
  left: 180px;
}

.infoButton:hover {
  cursor: pointer;
}

.icon {
  margin: 5px;
}

.recentGameInfo {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 350px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 300px;
  left: 20px;
  padding: 10px 30px;
}

.progression {
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:50px;
  background-color: black;
  opacity: 0.95;
  width: 500px;
  left:50%;
  transform: translate(-50%, -50%);
  top: 20%;
  border-radius: 5px;
}

.progression svg{
  background-color: #F8F1E5;
  margin-bottom: 2px;
}
.progression .showKDAoptions{
  display: "";
}

.progression .hideKDAoptions{
  display:none;
}

#KDAoptions{
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

#KDAoptions span{
  margin-left: 10px;
  padding: 5px;
  border-radius: 2px;
  color: #426E86;
}

#KDAoptions span:hover{
  background-color: #F9BA32;
  transition: 1s;
}

#progressionOptions{
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
  color: #426E86;
}

#progressionOptions span{
  margin-left: 10px;
  padding: 5px;
  border-radius: 2px;
}

#progressionOptions span:hover{
  background-color: #2F3131;
  transition: 1s;
}


.line-chart{
  color: white;
}

.recentGame{
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:102px;
  color:white;
  width: 200px;
  left:95px;
  padding-bottom: 5px;
}

.recentGame .avatar{
  background-color: white;
  margin-left: 40px;
}

.recentGame .spell1{
  background-color: white;
  margin-left: 65px;
}

.recentGame .spell2{
  background-color: white;
  margin-left: 10px;
}

.recentGame .rd3-chart{
  position: fixed;
  left:0px;
  top:-40px;
}

.recentGame .statsName {
  text-align: center;
  font-size: 40px;
}

.recentGame .statsCreate {
  text-align: center;
}

.compareStats{
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top: 40px;
  color: white;
  background-color: black;
  width: 220px;
  left: 10px;
}

.itemsList {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gameStatsSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statModule {
  display: flex;
  align-items: center;
}
