.infoButton {
  position: fixed;
  top: 260px;
  left: 180px;
}

.infoButton:hover {
  cursor: pointer;
}

.icon {
  margin: 5px;
  width: 24px;
}

.recentGameInfo {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 350px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 300px;
  left: 20px;
  padding: 10px 30px;
}

.progression {
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;

  background-color: #426E86;
  width: 500px;
  left:50%;
  transform: translate(-50%, -50%);
  top: 26%;
  border-radius: 5px;
  padding-right:20px;
  padding-bottom: 5px;
}

.progression svg{
  font-family: 'Lato';
  background-color: #426E86;
  color: white;
  margin-bottom: 2px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
.progression .showKDAoptions{
  display: "";
}

.progression .hideKDAoptions{
  display:none;
}

.xyValue {
  text-align: right;
  margin-right: 10px;
}

.xyValueOff {
  display: none;
}

#KDAoptions{
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

#KDAoptions span{
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom:5px;
  padding-top:5px;
}

#KDAoptions span:hover{
  border-bottom: solid #20232A 3px;
}

.onToggleKill {
  border-bottom: solid #20232A 3px;
  color: #A01D26;
}

.onToggleDeath {
  border-bottom: solid #20232A 3px;
  color: #20232A;
}

.onToggleAssist {
  border-bottom: solid #20232A 3px;
  color: #ACBEBE;
}

.toggleKDAoptions {
  border-bottom: solid #A01D26 3px;
}

.toggleGold {
  border-bottom: solid #A01D26 3px;
}

.toggleCS {
  border-bottom: solid #A01D26 3px;
}

.toggleDmg {
  border-bottom: solid #A01D26 3px;
}

.toggleTime {
  border-bottom: solid #A01D26 3px;
}




#progressionOptions{
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
  color: #20232A;
  padding-bottom: 5px;
}

#progressionOptions span{
  margin-left: 10px;
  padding: 5px;
  border-radius: 2px;
}

#progressionOptions span:hover{
  border-bottom: solid #20232A 3px;
}




.line-chart{
  color: white;
}

.recentGame{
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:102px;
  color:white;
  width: 200px;
  left:95px;
  padding-bottom: 5px;
}

.recentGame .avatar{
  background-color: white;
  margin-left: 40px;
}

.recentGame .spell1{
  background-color: white;
  margin-left: 65px;
}

.recentGame .spell2{
  background-color: white;
  margin-left: 10px;
}

.recentGame .rd3-chart{
  position: fixed;
  left:0px;
  top:-40px;
}

.recentGame .statsName {
  text-align: center;
  font-size: 40px;
}

.recentGame .statsCreate {
  text-align: center;
}

.compareStats{
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top: 40px;
  color: white;
  background-color: black;
  width: 220px;
  left: 10px;
}

.itemsList {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gameStatsSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statModule {
  display: flex;
  align-items: center;
}

.Blue {
  background-color: #0000BB;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.Red {
  background-color: #BD3737;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.currentGameSpells {
  display: flex;
  display: flex;
  flex-direction: column;
}

.currentGameHeader {

}

.currentGameInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
