
.hideAllButton {
  position: fixed;
  bottom: 20px;
  left: 60px;
  padding: 5px;
  border-radius: 3px;
  transition: 1s;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0)
}

.hideAllButton:hover {
  cursor: pointer;
  background-color: #2F3131;
  border: 1px solid white;
  transition: 1s;
}

.lockBackground {
  position: fixed;
  bottom: 15px;
  right: 20px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  transition: 1s;
}

.lockBackground:hover {
  cursor: pointer;
  transition: 1s;
}

.refreshBackground {
  position: fixed;
  bottom: 20px;
  right: 60px;
  padding: 5px;
  border-radius: 3px;
  transition: 1s;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0)
}

.refreshBackground:hover {
  background-color: #2F3131;
  cursor: pointer;
  border: 1px solid white;
  transition: 1s;
}

.settingsIcon {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 25px;
  padding: 5px;
  border-radius: 3px;
  transition: 1s;
}

.settingsIcon:hover {
  cursor: pointer;
  color: white;
  background-color: #2F3131;
  transition: 1s;
}

.settingsMenu {
  position: fixed;
  left: 10px;
  bottom:60px;
  color:white;
  background-color: black;
  z-index: 100;
  text-align: right;
}

.settingsMenu ul{
  list-style-type: none;
}

.settingsButton {
  width: 50px;
  height: 20px;
  margin: 5px;
}

.settingsButtonOn {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: green;
  border: green;
  outline: none;
  border-radius: 2px;
}

.settingsButtonOn:hover{
  cursor: pointer;
}

.settingsButtonOff {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: red;
  border: red;
  outline: none;
  border-radius: 2px;
}

.settingsButtonOff:hover{
  cursor: pointer;
}

.bg{
  z-index: -10;
}
