
.summaryButtons {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.summaryButtonOff {
  border: 1.5px solid black;
  transition: 1s;
  padding:5px;
  font-size:20px;

}

.summaryButtonOn {
  transition: 1s;
  padding:10px;
  font-size:27px;
  color: #A01D26;
}

.summaryButtonOn:hover {
  cursor: pointer;
  background-color: #ACBEBE;
  transition: 1s;
}

.summaryButtonOff:hover {
  cursor: pointer;
  color: black;
  background-color: #ACBEBE;
  transition: 1s;
}

.searchDiv #searchSubmit:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 1s;
}

.searchDiv input:focus{
  outline: none;
}


.summonerSummary {
  font-family: 'Lato';
  font-size: 20px;
  position: absolute;
  top:113px;
  color:white;
  background-color: #2F3131;
  right:25px;
  border-radius: 0 0 5px 5px;
}

.searchDiv #searching{
    position: fixed;
    background: none;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    border: none;
    color: white;
    height: 90px;
    font-size: 60px;
    width: 590px;
    text-align: left;
    padding: 5px;
    padding-left:20px;
    font-family: 'Lato';
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    top:58%;
    text-align:center;
    z-index: 100;
}

.searchDiv #searchSubmit{
    display:none;
}

.summonerRank {
  position: fixed;
  right: 160px;
}

.division {
  position: fixed;
  top: 30px;
  right: 140px;
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px black;
}

.topChampionsIndex {
  position: fixed;
  right: 20px;
  bottom: 80px;
  background-color: yellow;
  padding:0;
}

.champImgContainer {
  float:left;
}
.champInfoContainer {
  float:right;
  font-size: 15px;
  margin-top: 10px;
}

.topChampionsImage {
  width:100px;
}

.topChampionsIndex li
{
  padding:0;
  list-style-type: none;
}

.topChampionsIndex ul {
    padding: 0;
    list-style-type: none;
}
